@model List<OfferManagementSystem.Dto.OfferMasterDtos.ResultOfferDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/_AdminLayout.cshtml";
}

<h1>Teklif Görüntüleme Sayfası</h1>
<table class="table table-bordered">
	<tr>
		<th>#</th>
		<th>Müşteri Adı</th>
		<th>Kullanıcı Adı</th>
		<th>Teklif Oluşturulma saati</th>
		<th>Teklif Geçerlilik Tarihi</th>
		<th>Teklif Durum İsmi</th>
		<th>Teklif Oluşturulma  Tarihi</th>
		
		<th>Teklif Değiştirilme Tarihi</th>
		<th>Oluşturan Kullanıcı Adı</th>
		<th>Sil</th>
		<th>Güncelle</th>
		<th>Detaylar</th>
	</tr>
	@foreach (var item in Model)
	{
		<tr>
			<th>@item.Id</th>
			<td>@item.CustomerName</td>
			<td>@item.UserName</td>
			<td>@item.CreatedAt</td>
			<td>@item.ValidityDate</td>
			<td>@item.StatusName</td>

			<td>@item.CreatedTime</td>
			<td>@item.ModifiedTime</td>
			<td>@item.UserName</td>

			<td><a href="/Customer/RemoveCustomer/@item.Id" class="btn mb-1 btn-rounded btn-outline-danger">Sil</a></td>
			<td><a href="/Customer/UpdateCustomer/@item.Id" class="btn mb-1 btn-rounded btn-outline-success">Güncelle</a></td>
			<td><a href="#" class="btn mb-1 btn-rounded btn-outline-dark">Detaylar</a></td>
		</tr>
	}
</table>
<a href="/Customer/AddCustomer/" class="btn mb-1 btn-rounded btn-outline-info">Yeni Müşteri Girişi</a>


